@@ -0,0 +1,281 @@
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Light";
    src: url("../fonts/BebasNeue Light.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Thin";
    src: url("../fonts/BebasNeue Thin.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Book";
    src: url("../fonts/BebasNeue Book.ttf") format("truetype");
}
@font-face {
    font-family: "A little sunshine";
    src: url("../fonts/A little sunshine.ttf") format("truetype");
}
@font-face {
    font-family: "Caviar Dreams";
    src: url("../fonts/CaviarDreams.ttf") format("truetype");
}
@font-face {
    font-family: "Caviar Dreams Bold";
    src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
html {
background-color:#fae86f;
}
.wrapper {
width: 89.8em;
}
.wrap {
height: 100em;
}
.row .col.s10
{
margin-left: 18.6666666667%;
width: 79.6666666667%;
height:53em;
}
.nav {
background-color: #596678;
position:fixed;
box-shadow: 2px 0px 7px #444444;
}
.main {
margin-top:1.5em;
margin-bottom: 1.5em;
background-color:white;
}
ul {
margin-top: 1.5em;
}
li a {
text-transform: uppercase;
font-family: "Caviar Dreams Bold";
color: white;
font-size: 1.3em;
padding-left:1.5em;
}
li {
padding-top:1.1em;
}
.logo {
width:11em;
height:auto;
margin-top: 1.2em;
margin-left: 1.2em;
}
h1 {
margin-top:0.6em;
margin-left:0.3em;
font-family: "Caviar Dreams Bold";
font-size:3.5em;
text-transform: uppercase;
color:#596678;
}
h3 {
font-family: "A little sunshine";
color:#fae86f;
font-size:2.3em;
margin-left:2em;
margin-top:0.5em;
}
h2{
font-family: "Caviar Dreams";
font-size:2.5em;
text-align: center;
text-transform: uppercase;
z-index: 2;
color: white;
}
h2 span {
font-size:0.7em;
text-transform: inherit;
}

.icone {
position: absolute;
color: #d22b2b;
top:6.5em;
left:13em;
}
.lieux {
position: absolute;
left:28.5em;
top:12.5em;
}
.mmi {
position: absolute;
top:17.5em;
left:28.5em;
z-index: 2;
}
.annee{
font-family: "Caviar Dreams";
font-size:1.5em;
text-align: center;
text-transform: uppercase;
color:#fae86f;
margin-top: -1em;
z-index: 2;
}
.circle1 {
  display: block;
  background-color: #596678;
  border-radius: 100%;
  height: 12em;
  width: 12em;
  margin-left: 10em;
margin-top: 4em;
z-index: 1;
}
.dut {
background-image: url(../images/chemin1.gif);
background-repeat: no-repeat;
background-position: center top;
}
.content {
position: absolute;
width:20em;
text-align: center;
left:23em;
display: none;
}
.circle1:hover ~ .content {
display: block;
}
.content p {
left:7;
}
.content span {
font-family: "Roboto Light";
}
.content .description {
font-family: "Roboto Light";
font-size: 1.3em;
}
.circle2 {
    display: block;
  background-color: #596678;
  border-radius: 100%;
  height: 12em;
  width: 12em;
  margin-left: 42em;
top: -3.5em;
z-index: 1;
}
.scientifique {
position: relative;
top:-15em;
margin-left: 26em;
z-index: 2;
}
.icone2 {
position: absolute;
color: #d22b2b;
top:18.1em;
left:28em;
}
.lieux2 {
position: absolute;
left:58.5em;
top:35.5em;
}
.content2 {
position: absolute;
width:20em;
text-align: center;
left:56em;
top:37em;
display: none;
}
.content2 span {
font-family: "Roboto Light";
}
.content2 .description {
font-family: "Roboto Light";
font-size: 1.3em;
}
.circle2:hover ~ .content2 {
display: block;
}
.inverse {
background-image: url(../images/chemin.gif);
background-repeat: no-repeat;
background-position: center top;
}
.icone1-b {
position: absolute;
color: #d22b2b;
top:31.9em;
left:13em;
}
.lieux1-b {
position: absolute;
left:28.5em;
top:63em;
}
.viastoria {
position: absolute;
top:67em;
left:28.3em;
z-index: 2;
color: black;
}
.circle1-b {
  display: block;
  background-color: #596678;
  border-radius: 100%;
  height: 12em;
  width: 12em;
  margin-left: 10em;
margin-top: 5em;
z-index: 1;
}
.audio {
font-size:0.6em;
}
.content1-b {
position: absolute;
width:20em;
text-align: center;
left:23.5em;
top:77.5em;
display: none;
}
.content1-b span {
font-family: "Roboto Light";
}
.content1-b .description {
font-family: "Roboto Light";
font-size: 1.3em;
}
.circle1-b:hover ~ .content1-b {
display: block;
}
.content2-b {
position: absolute;
width:20em;
text-align: center;
left:55.5em;
top:87.5em;
display: none;
}
.circle2:hover ~ .content2-b {
display: block;
}
.icone2-b {
position: absolute;
color: #d22b2b;
top:43.2em;
left:29.7em;
}
.lieux2-b {
position: absolute;
left:62em;
top:86em;
}
.ete {
background-image: url(../images/chemin2.gif);
background-repeat: no-repeat;
background-position: center top;
}
.circle1-c {
    position: absolute;
    top:90em;
  display: block;
  background-color: #596678;
  border-radius: 100%;
  height: 12em;
  width: 12em;
  margin-left: 15em;
margin-top:-2em;
z-index: 1;
}
.futur {
position: absolute;
top:89em;
left:33.5em;
z-index: 2;
color: black;
}
.futur h2 {
font-size: 2.6em;
}
.content1-c {
position: absolute;
width:20em;
text-align: center;
left:28em;
top:99.5em;
display: none;
}
.content1-c span {
font-family: "Roboto Light";
}
.content1-c .description {
font-family: "Roboto Light";
font-size: 1.3em;
}
.circle1-c:hover ~ .content1-c {
display: block;
}
.bouton {
position: absolute;
left:55em;
top:99em;
}