@@ -0,0 +1,281 @@
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Light";
    src: url("../fonts/BebasNeue Light.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Thin";
    src: url("../fonts/BebasNeue Thin.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Book";
    src: url("../fonts/BebasNeue Book.ttf") format("truetype");
}
@font-face {
    font-family: "A little sunshine";
    src: url("../fonts/A little sunshine.ttf") format("truetype");
}
@font-face {
    font-family: "Caviar Dreams";
    src: url("../fonts/CaviarDreams.ttf") format("truetype");
}
@font-face {
    font-family: "Caviar Dreams Bold";
    src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
html {
background-color:#fae86f;
}
.wrapper {
width: 89.8em;
}
.wrap {
height: 100em;
}
.row .col.s10
{
margin-left: 16.7em;
width: 71.5em;
height:53em;
}
.footer {
width: 16em;
font-size: 0.8em;
position: absolute;
margin-top: 30em;
color: white;
text-align: center;
}
.footer a {
text-decoration: underline;
color: white;
}
.row .col.s2{
width:15em;
margin-left:auto;
left:auto;
right:auto}

.nav {
background-color: #596678;
position:fixed;
box-shadow: 2px 0px 7px #444444;
}
.main {
margin-top:1.5em;
margin-bottom: 1.5em;
background-color:white;
}
ul {
margin-top: 1.5em;
}
li a {
text-transform: uppercase;
font-family: "Caviar Dreams Bold";
color: white;
font-size: 1.3em;
padding-left:1.5em;
}
li {
padding-top:1.1em;
}
.logo {
width:11em;
height:auto;
margin-top: 1.2em;
margin-left: 1.2em;
}
h1 {
margin-top:0.6em;
margin-left:0.3em;
font-family: "Caviar Dreams Bold";
font-size:3.5em;
text-transform: uppercase;
color:#596678;
}
h3 {
font-family: "A little sunshine";
color:#fae86f;
font-size:2.3em;
margin-left:2em;
margin-top:0.5em;
}
h2{
font-family: "Caviar Dreams";
font-size:2.5em;
text-align: center;
text-transform: uppercase;
z-index: 2;
color: white;
}
h2 span {
font-size:0.7em;
text-transform: inherit;
color:white;
margin-left:-0.73em;
}
.icone {
position: absolute;
color: #d22b2b;
margin-top: 0.3em;
margin-left: 3.7em;
}
.lieux {
position: absolute;
margin-left: 10em;
width: 10em;
}
.annee{
font-family: "Caviar Dreams";
font-size:1.5em;
text-align: center;
text-transform: uppercase;
color:#fae86f;
margin-top: -1em;
z-index: 2;
}
.circle1 {
  display: block;
  background-color: #596678;
  border-radius: 100%;
  height: 12em;
  width: 12em;
  margin-left: 10em;
margin-top: 4em;
z-index: 1;
}
.dut {
background-image: url(../images/chemin1.gif);
background-repeat: no-repeat;
background-position: center top;
}
.content {
position: absolute;
width:20em;
text-align: center;
margin-left: 6em;
display: none;
}
.circle1:hover ~ .content {
display: block;
}
.content p {
left:7;
}
.content span {
font-family: "Roboto Light";
}
.content .description {
font-family: "Roboto Light";
font-size: 1.3em;
}
.circle2 {
display: block;
background-color: #596678;
border-radius: 100%;
height: 12em;
width: 12em;
margin-left: 42em;
top: -3.5em;
z-index: 1;
}
.icone2 {
position: absolute;
color: #d22b2b;
margin-top: -1.6em;
margin-left: 19em;
}
.lieux2 {
margin-left: 41em;
margin-top: -2.6em;
width: 15em;

}
.content2 {
position: absolute;
width:20em;
text-align: center;
margin-left: 38em;
padding-top: 1em;
display: none;
}
.content2 span {
font-family: "Roboto Light";
}
.content2 .description {
font-family: "Roboto Light";
font-size: 1.3em;
}
.circle2:hover ~ .content2 {
display: block;
}
.arrow {
margin-top:1em;
}
.inverse {
background-image: url(../images/chemin.gif);
background-repeat: no-repeat;
background-position: center top;
}
.icone1-b {
position: absolute;
color: #d22b2b;
margin-top: 0.7em;
margin-left: 4.2em;
}
.lieux1-b {
position: absolute;
margin-left: 11.5em;
margin-top: 1.5em;
width: 10em;
}
.circle1-b {
display: block;
background-color: #596678;
border-radius: 100%;
height: 12em;
width: 12em;
margin-left: 10em;
margin-top: 5em;
z-index: 1;
}
.content1-b {
position: absolute;
width:20em;
text-align: center;
margin-left: 6em;
display: none;
}
.content1-b span {
font-family: "Roboto Light";
}
.content1-b .description {
font-family: "Roboto Light";
font-size: 1.3em;
}
.circle1-b:hover ~ .content1-b {
display: block;
}
.content2-b {
position: absolute;
width:20em;
text-align: center;
margin-left: 38em;
display: none;
}
.circle2:hover ~ .content2-b {
display: block;
}
.icone2-b {
color: #d22b2b;
margin-top: -1.7em;
    margin-left: 21.1em;
}
.lieux2-b {
position: absolute;
margin-left: 45em;
margin-top: -3em;
width: 9em;
}
.ete {
background-image: url(../images/chemin2.gif);
background-repeat: no-repeat;
background-position: center top;
}
.circle1-c {
    position: absolute;
    top:90em;
  display: block;
  background-color: #596678;
  border-radius: 100%;
  height: 12em;
  width: 12em;
  margin-left: 21em;
margin-top:-2em;
z-index: 1;
}
.content1-c {
width:20em;
text-align: center;
margin-left: 17em;
margin-top: 11em;
display: none;
}
.content1-c span {
font-family: "Roboto Light";
}
.content1-c .description {
font-family: "Roboto Light";
font-size: 1.3em;
}
.circle1-c:hover ~ .content1-c {
display: block;
}
.bouton {
position: absolute;
left:55em;
top:99em;
}
.down {
left:32em;
    transition-delay: 0.5s;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}
p{
font-family: 'Roboto';
}