@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Light";
    src: url("../fonts/BebasNeue Light.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Thin";
    src: url("../fonts/BebasNeue Thin.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Book";
    src: url("../fonts/BebasNeue Book.ttf") format("truetype");
}
@font-face {
    font-family: "A little sunshine";
    src: url("../fonts/A little sunshine.ttf") format("truetype");
}
@font-face {
    font-family: "Caviar Dreams";
    src: url("../fonts/CaviarDreams.ttf") format("truetype");
}
@font-face {
    font-family: "Caviar Dreams Bold";
    src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

html {
background-color:#596678;
}
.wrapper {
width: 89.8em;
}
.wrap {

}
.row .col.s10
{
margin-left: 18.6666666667%;
width: 79.6666666667%;
}
.nav {
background-color: #596678;
position:fixed;
}
.main {
margin-top:1.5em;
margin-bottom: 1.5em;
}
ul {
margin-top: 1.5em;
}
li a {
text-transform: uppercase;
font-family: "Caviar Dreams Bold";
color: white;
font-size: 1.3em;
padding-left:1.5em;
}
li {
padding-top:1.1em;
}
.logo {
width:11em;
height:auto;
margin-top: 1.2em;
margin-left: 1.2em;
}
h1 {
font-family: "Caviar Dreams Bold";
font-size:5em;
color:white;
top:1.5em;
right:4em;
position: absolute;
}
h3 {
font-family: "Caviar Dreams";
color:white;
font-size:2.5em;
position: absolute;
top:6.7em;
right:8.2em;
}
h2{
font-family: "A little sunshine";
font-size:3.5em;
font-weight: bold;
color:#fae86f;
position: absolute;
top:3.7em;
right:5.9em;
}
