@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Light";
    src: url("../fonts/BebasNeue Light.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Thin";
    src: url("../fonts/BebasNeue Thin.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Book";
    src: url("../fonts/BebasNeue Book.ttf") format("truetype");
}
@font-face {
    font-family: "A little sunshine";
    src: url("../fonts/A little sunshine.ttf") format("truetype");
}
@font-face {
    font-family: "Caviar Dreams";
    src: url("../fonts/CaviarDreams.ttf") format("truetype");
}
@font-face {
    font-family: "Caviar Dreams Bold";
    src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
html {
background-color:#fae86f;
}
.wrapper {
width: 89.8em;
}
.wrap {
height: 100em;
}
.row .col.s10
{
margin-left: 18.6666666667%;
width: 79.6666666667%;
height:110em;
}
.nav {
background-color: #596678;
position:fixed;
box-shadow: 2px 0px 7px #444444;
}
.main {
margin-top:1.5em;
margin-bottom: 1.5em;
background-color:white;
}
ul {
margin-top: 1.5em;
}
li a {
text-transform: uppercase;
font-family: "Caviar Dreams Bold";
color: white;
font-size: 1.3em;
padding-left:1.5em;
}
li {
padding-top:1.1em;
}
.logo {
width:11em;
height:auto;
margin-top: 1.2em;
margin-left: 1.2em;
}
h1 {
margin-top:0.6em;
margin-left:0.3em;
font-family: "Caviar Dreams Bold";
font-size:3.5em;
text-transform: uppercase;
color:#596678;
}
h3 {
font-family: "A little sunshine";
color:#fae86f;
font-size:2.3em;
margin-left:4em;
margin-top:-0.5em;
}
.services {
width:20em;
height:auto;
display: block;
margin-left:auto;
margin-right: auto;
}
.creation {
margin-bottom: 2em;
}
h2{
font-family: "A little sunshine";
font-size:2.5em;
font-weight: bold;
text-align: center;
margin:0;
}
.description {
width:35em;
text-align: center;
font-family: "Roboto";
margin:auto;
line-height: 1.5em;
font-size: 1.2em;
}
.description span {
font-family: "Roboto Bold";
}
.graphisme {
color:#e81e46;
}
.webdesign {
color:#23bdb2;
}
.photo {
color:#3cb65d;
margin-bottom: 0.5em;
}
.zoom {
	transition-property: transform;
	-webkit-transition-property: transform;
    transition-duration: .5s;
	transition-timing-function: ease-out;
	}

.zoom:hover {
	transform: scale(1.1);
   	-webkit-transform: scale(1.1);
}