@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Light";
    src: url("../fonts/BebasNeue Light.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Thin";
    src: url("../fonts/BebasNeue Thin.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Book";
    src: url("../fonts/BebasNeue Book.ttf") format("truetype");
}
@font-face {
    font-family: "A little sunshine";
    src: url("../fonts/A little sunshine.ttf") format("truetype");
}
@font-face {
    font-family: "Caviar Dreams";
    src: url("../fonts/CaviarDreams.ttf") format("truetype");
}
@font-face {
    font-family: "Caviar Dreams Bold";
    src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
html {
background-color:#fae86f;
}
.wrapper {
width: 89.8em;
}
.wrap {
height: 100em;
}
.row .col.s10
{
margin-left: 16.7em;
width: 71.5em;
height:90em;
}
.row .col.s2{width:15em;
margin-left:auto;
left:auto;
right:auto}
.nav {
background-color: #596678;
position:fixed;
box-shadow: 2px 0px 7px #444444;
}
.main {
margin-top:1.5em;
margin-bottom: 1.5em;
background-color:white;
}
ul {
margin-top: 1.5em;
}
li a {
text-transform: uppercase;
font-family: "Caviar Dreams Bold";
color: white;
font-size: 1.3em;
padding-left:1.5em;
}
li {
padding-top:1.1em;
}
.logo {
width:11em;
height:auto;
margin-top: 1.2em;
margin-left: 1.2em;
}
h1 {
margin-top:0.6em;
margin-left:0.3em;
font-family: "Caviar Dreams Bold";
font-size:3.5em;
text-transform: uppercase;
color:#596678;
}
h3 {
font-family: "A little sunshine";
color:#fae86f;
font-size:2.3em;
margin-left:4em;
margin-top:-0.5em;
}
h2{
font-family: "A little sunshine";
font-size:2.5em;
font-weight: bold;
text-align: center;
margin:0;
}
.personnage {
background-image: url(../images/personnage3.png);
width: 43em;
height: 87em;
margin-left: 10em;
}
.anniv {
margin-top: 3em;
margin-left: 5em;
position: absolute;
width: 12em;
z-index: 1;
}
.origine {
margin-top: 16.5em;
margin-left: 5em;
position: absolute;
width: 11em;
z-index: 1;
}
.origine span {
font-family: "Caviar Dreams Bold";
}
.photo {
margin-top: 9.5em;
margin-left: -2em;
position: absolute;
width: 16em;
z-index: 1;
}
.photo span {
font-family: "Caviar Dreams Bold";
}
.etudes {
margin-top: 31em;
margin-left: -8em;
width: 21em;
position: absolute;
z-index: 1;
}
.etudes span {
font-family: "Caviar Dreams Bold";
}
.chat {
margin-top: 43em;
margin-left: 13em;
width: 12em;
z-index: 1;
}
.chat p {
font-family: "A little sunshine";
text-transform: inherit;
}
.voyage {
margin-top: 4.5em;
margin-left: 36em;
position: absolute;
z-index: 1;
}
.cirque {
margin-top: 25em;
margin-left: 24em;
width: 23em;
position: absolute;
z-index: 1;
}
.cirque span {
font-family: "Caviar Dreams Bold";
}
main p {
font-size: 1.3em;
font-family: "Caviar Dreams";
text-transform: uppercase;
text-align: center;
line-height: 1.4em;
}
.anniv span {
font-size: 1.7em;
font-family: "Caviar Dreams Bold";
}
main a {
left:32em;
    top:39em;
    margin-left:-8em;
    transition-delay: 0.5s;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}
.footer {
width: 16em;
font-size: 0.8em;
position: absolute;
margin-top: 30em;
color: white;
text-align: center;
}
.footer a {
text-decoration: underline;
color: white;
}
/*RESPONSIVE*/
@media only screen and (max-width: 750px) {
    .personnage {
    background-image: url(../images/personnage3_mobile.png);
    width: 35em;
    height: 53em;
    margin-left: 5em;
    }
    main p {
    font-size:0.8em;
    }
    .anniv {
    margin-top: 1.5em;
    margin-left: 6em;
    }
    
    .photo {
    margin-top: 6em;
    margin-left: 2em;
    }
    .origine {
    margin-top: 11em;
    margin-left: 7em;
    }
    .etudes {
    margin-top: 19.5em;
    margin-left: -2em;
    }
    .btn-floating.btn-large {
    width: 0px;
    height: 0px;
    }
    .chat {
    margin-top: 27.5em;
    margin-left: 8.5em;
    }
    .voyage {
    margin-top: 1em;
    margin-left: 24em;
    }
    .cirque {
    margin-top: 18.5em;
    margin-left: 11em;
    }
    .row .col.s10 {
    height: 57em;
}