@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Light";
    src: url("../fonts/BebasNeue Light.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Thin";
    src: url("../fonts/BebasNeue Thin.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Book";
    src: url("../fonts/BebasNeue Book.ttf") format("truetype");
}
@font-face {
    font-family: "A little sunshine";
    src: url("../fonts/A little sunshine.ttf") format("truetype");
}
@font-face {
    font-family: "Caviar Dreams";
    src: url("../fonts/CaviarDreams.ttf") format("truetype");
}
@font-face {
    font-family: "Caviar Dreams Bold";
    src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
html {
background-color:#fae86f;
}
.wrapper {
width: 89.8em;
}
.wrap {
height: 100em;
}
.row .col.s10
{
margin-left: 18.6666666667%;
width: 79.6666666667%;
height:110em;
}
.nav {
background-color: #596678;
position:fixed;
box-shadow: 2px 0px 7px #444444;
}
.main {
margin-top:1.5em;
margin-bottom: 1.5em;
background-color:white;
}
ul {
margin-top: 1.5em;
}
li a {
text-transform: uppercase;
font-family: "Caviar Dreams Bold";
color: white;
font-size: 1.3em;
padding-left:1.5em;
}
li {
padding-top:1.1em;
}
.logo {
width:11em;
height:auto;
margin-top: 1.2em;
margin-left: 1.2em;
}
h1 {
margin-top:0.6em;
margin-left:0.3em;
font-family: "Caviar Dreams Bold";
font-size:3.5em;
text-transform: uppercase;
color:#596678;
}
h3 {
font-family: "A little sunshine";
color:#fae86f;
font-size:2.3em;
margin-left:4em;
margin-top:-0.5em;
}
h2{
font-family: "A little sunshine";
font-size:2.5em;
font-weight: bold;
text-align: center;
margin:0;
}
/** Nav Menu */

ul.nav-menu{
padding: 0;
margin: 0;
list-style-type: none;
width: 70em;
padding-left:8em;
}

ul.nav-menu li{
display: inline;
margin-right: 2em;
padding:1em;
font-size:1em;
}
.nav-menu li a:hover{
border-bottom: 3px solid #596678;
transition: 0,8s;  
}

ul.nav-menu li a{
color: #b3d0cf;
text-decoration: none;
text-transform: uppercase;
padding: 0;
	}

ul.nav-menu li a:hover, ul.nav-menu li a.active{
color:#596678;
}
/*grille*/

	.caption-style-4{
		list-style-type: none;
		margin-left: 7.5em;
		padding: 0px;		
	}

	.caption-style-4 li{
		float: left;
		padding: 0px;
		position: relative;
		overflow: hidden;
        margin: 0.5em;
	}

.caption-style-4 li:hover .caption{
		opacity: 1;
	}

	.caption-style-4 li:hover img{
		opacity: 1;
		transform: scale(1.15,1.15);
		-webkit-transform:scale(1.15,1.15);
		-moz-transform:scale(1.15,1.15);
		-ms-transform:scale(1.15,1.15);
		-o-transform:scale(1.15,1.15);
	}

	.caption-style-4 img{
		margin: 0px;
		padding: 0px;
		float: left;
		z-index: 4;
	}

	.caption-style-4 .caption{
		cursor: pointer;
		position: absolute;
		opacity: 0;
		-webkit-transition:all 0.45s ease-in-out;
		-moz-transition:all 0.45s ease-in-out;
		-o-transition:all 0.45s ease-in-out;
		-ms-transition:all 0.45s ease-in-out;
		transition:all 0.45s ease-in-out;
	}

	.caption-style-4 img{
		-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		-ms-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;
        width: 400px;
	}
.caption-style-4 .blur{
		background-color:rgba(89, 102, 120, 0.80); ;
		height: 300px;
		width: 400px;
		z-index: 5;
		position: absolute;
	}

	.caption-style-4 .caption-text h1{
		text-transform: uppercase;
		font-size: 24px;
	}
	.caption-style-4 .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		width: 400px;
		height: 300px;
		text-align: center;
		top:100px;
	}
/**/

.content{
		margin-top: 100px;
		margin-left: 100px;
		width: 700px;
	}
	.content h1, .content h2{
		color: white;
		padding: 0px;
		margin: 0px;
		font-weight: normal;
	}

	.content h1{
		font-weight: 900;
		font-size: 64px;
	}

	.content h2{
		font-size:26px;
	}
	.content p{
		color: #ecf0f1;
		font-family: "Lato";
		line-height: 28px;
		font-size: 15px;
		padding-top: 50px;
	}

	p a{
		color: #ecf0f1;
	}