@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Light";
    src: url("../fonts/BebasNeue Light.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Thin";
    src: url("../fonts/BebasNeue Thin.ttf") format("truetype");
}
@font-face {
    font-family: "Bebas Neue Book";
    src: url("../fonts/BebasNeue Book.ttf") format("truetype");
}
@font-face {
    font-family: "A little sunshine";
    src: url("../fonts/A little sunshine.ttf") format("truetype");
}
@font-face {
    font-family: "Caviar Dreams";
    src: url("../fonts/CaviarDreams.ttf") format("truetype");
}
@font-face {
    font-family: "Caviar Dreams Bold";
    src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

html {
background-color:#596678;
}
.wrapper {
width: 89.8em;
}
.row .col.s10
{
margin-left: 16.7em;
height:40em;
}
.row .col.s2{width:15em;
margin-left:auto;
left:auto;
right:auto
}

.nav {
background-color: #596678;
position:fixed;
}
.main {
margin-top:1.5em;
margin-bottom: 1.5em;
}
ul {
margin-top: 1.5em;
}
li a {
text-transform: uppercase;
font-family: "Caviar Dreams Bold";
color: white;
font-size: 1.3em;
padding-left:1.5em;
}
li {
padding-top:1.1em;
}
.logo {
    width: 9em;
    height: auto;
    margin-top: 1.2em;
    margin-left: 2.5em;
}
h1 {
margin-top:-7em;
color:#596678;
}
h3 {
font-family: "Caviar Dreams";
color:white;
font-size:2.5em;
position: relative;
margin-top: -0.6em;
margin-left: 15.5em;
}
h2{
font-family: "Caviar Dreams";
    color:white;
    font-size:2em;
    text-align: center;
    position: relative;
    margin-left: -8em;
    width: 30em;
    
}
main img{
position: relative;
margin-left: -5em;
}
.footer {
width: 16em;
font-size: 0.8em;
position: absolute;
margin-top: 30em;
color: white;
text-align: center;
}
.footer a {
text-decoration: underline;
color: white;
}
@media only screen and (max-width: 750px)
{
main img {
    margin-left: -3em;
}
    .row .col.s10 {
    margin-left: 0em !important;
    }
    h2{
    font-size: 1.5em;
            margin-left: -1em;
    width: 27em;
    }
}